@model MvcCv.Models.Entity.TblHobilerim
@{
    ViewBag.Title = "HobiDuzenle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Hobi Düzenleme Sayfası</h2>
<br />

<form method="post">
    @Html.Label("Hobi Başlığı")
    @Html.TextBoxFor(x => x.Aciklama1, new { @class = "form-control" })
    <br />
    @Html.Label("Açıklaması")
    @Html.TextBoxFor(x => x.Aciklama2, new { @class = "form-control" })
    <br />

    <button class="btn btn-success">Güncelle</button>
</form>
